Locale formats

# [RFC] Locale formats

For **several days** I now read on the topic of _Locales_ in regards to our current handling and _the Symfony way_. I'm writing down here what I found so we're all up to date and to solve confusion once and for all. Loosely related to contao/core-bundle#190 and contao/core-bundle#171.
## Background

> In computing, a locale is a set of parameters that defines the user's language, country and any special variant preferences that the user wants to see in their user interface.

https://en.wikipedia.org/wiki/Locale

This is probably familiar to everyone of us. 
### Locale formats

These two formats are relevant for our case.
1. IETF [**Language Tag**](http://www.w3.org/International/articles/language-tags/), specified in [BCP 47](http://www.w3.org/International/articles/bcp47/), (aka RFC 5646, RFC 4646, RFC 3066, RFC 1766).  
   Used in:
   - HTTP Accept-Language header
   - XML & HTML documents _(e.g. &lt;html lang=""&gt;)_
2. **Locale ID**, according to the [International Components for Unicode (ICU)](https://unicode-org.github.io/icu/userguide/locale/#overview).  
   Used in:
   - [PHP Intl](http://php.net/locale) extension
   - [Symfony Intl](http://symfony.com/doc/current/components/intl.html) component, a replacement layer for the PHP intl extension
   - Recommended format for the [Symfony Translation](http://symfony.com/doc/current/components/translation.html) component 
   - Returned by Symfony Request::getLanguages() (after parsing the _HTTP Accept-Language_ header)

[Transifex](https://www.transifex.com/languages/) uses a _Locale ID_ to represent regional languages (e.g. `zh_TW`) but a _Language Tag_ to represent language scripts (e.g. `zh-Hant`) :-(
### Differences between _Language Tag_ and _Locale ID_

As far as I understand, there is no major difference **for our use case**.
- A _Language Tag_ uses a dash (`-`) as delimiter between _language_, _script_ and _region_.
- A _Locale ID_ uses an underscore (`_`) as delimiter between _language_, _script_ and _country_.
- In a _Locale ID_, the third subtag is always a country (according to [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166)) whereas in a _Language Tag_ it can also be an [UN M.49](https://en.wikipedia.org/wiki/UN_M.49) region code.

A _Locale ID_ also does allow to specify more details on locales like the currency, calendar or collation. However, they are (currently) not relevant for our case.
### Structure of _Language Tag_ and _Locale ID_

Apart from the differences noted above, both _Language Tag_ and _Locale ID_ are very similar in their format:
1. The _language_ subtag specified using a two- or three-letter lowercase code (using [ISO 639](https://en.wikipedia.org/wiki/ISO_639)-1 or [ISO 639](https://en.wikipedia.org/wiki/ISO_639)-2). 
2. An optional _script_ subtag (specified in [ISO 15924](https://en.wikipedia.org/wiki/ISO_15924))  
   (Examples: Latn = Latin, Cyrl = Cyrillic, Hans = Chinese Simplified, Hant = Chinese Traditional)
3. The _country_ or _region_ subtag, commonly using a two letter [ISO 3166](https://en.wikipedia.org/wiki/ISO_3166) country code.

Best practice is to add subtags **only if they add relevant information**. As an example, it's not recommended to write `en-Latn` because english is almost always written in latin characters.
## Situation in Contao

Just so that everyone is on the same track, I'm quickly writing down the current Contao approach:
- A page language (`tl_page.language`) is a _Language Tag_. It can either be two characters [ISO 639](https://en.wikipedia.org/wiki/ISO_639)-1 code (`de`, `en`) or a five characters language and country (`de-DE`, `de-CH`, `en-US`).
- Contrary, language files are using _Locale ID_. The folder name can either be two characters [ISO 639](https://en.wikipedia.org/wiki/ISO_639)-1 code (`de`, `en`) or a five character language and country (`de_DE`, `de_CH`, `en_US`). 
- The languages list (`system/config/languages.php`) is also using _Locale ID_, which means the same applies for member and user language (`tl_member.language` / `tl_user.language`).

The writing of both formats is **case sensitive**. The `$GLOBALS['TL_LANGUAGE']` variable is inherited from the page language and therefore is a _Language Tag_.

As our language folders are a _Locale ID_, we're converting the representation everywhere where we try to match a page language to a language folder (`str_replace('-', '_', $lang)`). Because we're relying on [Transifex](https://www.transifex.com/languages/), the package format is somewhat predefined.
## Situation in Symfony
### Translation

The Translation component accepts numerous formats for the translation files (see [[1]](https://github.com/symfony/Translation/blob/e277543c97316602e6034a0962eae35bc2d87515/Translator.php#L511-L516), [[2]](https://github.com/symfony/Translation/blob/master/Tests/TranslatorTest.php#L428-L443)). It simply tries to find a file with the given locale.

However, loading fallbacks (`zh` for `zh_CN`) only works when using a _Locale ID_ with underscore (see [[1]](https://github.com/symfony/Translation/blob/e277543c97316602e6034a0962eae35bc2d87515/Translator.php#L497-L499)). It does, however, not support three level fallbacks (loads `zh_Hant` but not `zh` when locale is `zh_Hant_TW`).
### Request

The request has methods for `setLocale` and `getLocale`. They are NOT related to the `_locale` attribute (see _HttpKernel_). On a call to `setLocale`, the property is forwarded to the [PHP Intl](http://php.net/locale) subsystem if available.

The good news is: the [PHP Intl](http://php.net/locale) component does happily accept both dash (`-`) or underscore (`_`) as delimiter and correctly detects _country_, _script_ and _region_.
### Intl

The [Symfony Intl](http://symfony.com/doc/current/components/intl.html) component provides fallback information if [PHP Intl](http://php.net/locale) is not available. Same as PHP Intl, it uses _Locale IDs_ (see [[1]](https://github.com/symfony/Intl/tree/master/Resources/data/locales)). I have not tested it, but I doubt it will work with _Language Tags_.
### HttpKernel / Magic

The HttpKernel component contains some dependency injection magic in regards to locale handling. There are two listeners in place:
1. The `LocaleListener` triggers on `kernel.request` (priority 16) and calls `Request::setLocale` if a  `_locale` attribute is found in the current request (see [[1]](https://github.com/symfony/HttpKernel/blob/master/EventListener/LocaleListener.php)).
2. The `TranslatorListener` triggers on `kernel.request` (priority 10) and sets the locale for the default translator from `Request::getLocale` (see [[1]](https://github.com/symfony/HttpKernel/blob/master/EventListener/TranslatorListener.php)).
## Problems
### Frontend

In our current implementation (Contao 4.0.0-beta1), the request `_locale` attribute is parsed from the route path, which means it will be a _Language Tag_ according to the setting in `tl_page.language`. If `zh-TW` is set as the page language, the Translator would not find the `zh_TW` language pack (and it would not load `zh` either).

If routes do not contain locales (`contao.prefix_locale` is `false`), the fallback language will be used for the Symfony Translator. Contao will use the best-matching language from _Accept-Language_ header to find an appropriate page, and use that language then.
### Backend

Backend paths do not contain language information. For Symfony Translation, the fallback language (`en`) will always be used. Contao will use the best-matching language from _Accept-Language_ header.  
After a user login, the user's language (`tl_user.language`) will be used to load Contao languages.
## Conclusion

For Symfony, it does not matter what Locale format you use, because it's just a framework. As long as your routes and translation files do match, the Translator will happily load what your URL contains.

The current Contao implementation is not really compatible with [Symfony Translation](http://symfony.com/doc/current/components/translation.html) though. It would only be possible to load translations by using _Language Code_ files (`messages.de-CH.xliff`), which is neither the recommended way nor the default in Contao or supported by [Transifex](https://www.transifex.com/languages/).
## Solutions

TBD
### Tools
- https://github.com/lunetics/LocaleBundle is the recommended solution for Symfony CMF to load and store the locale information.
- https://github.com/sonata-project/SonataIntlBundle provides several twig/template helpers for locale, country labels, or date and time formatting
