E-Mail Validator fehlerhaft

Laut Kommentar in `\Validator::isEmail` stellt der RegEx sicher, dass es sich um eine gültige und zustellbare Adresse handelt. Laut RFC 5322 (RFC 2822) dürften im Lokalteil vor dem @ aber nur Buchstaben, Zahlen und ein ein paar weitere Zeichen stehen. Umlaute oder andere Sonderzeichen sind nicht erlaubt.

Allerdings liefert `\Validator::isEmail('müller@example.org')` als Ergebnis `true` zurück.

Sendet man dann über Contaos `\Email` `sendTo` eine E-Mail an diese Adresse, kommt es zu einen Fatal Error:

`PHP Fatal error: Uncaught exception 'Swift_RfcComplianceException' with message 'Address in mailbox given [müller@example.org] does not comply with RFC 2822, 3.6.2.' thrown in /…/contao/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php on line 345`

Das passt irgendwie nicht zusammen. Ich bin zwar noch bei Contao 3.5.40 aber zumindest `isEmail` hat sich ja auch im 4er Zweig nicht geändert. Vielleicht könnte man das mal in Zukunft ausbauen und den Test auf die erlaubten Zeichen erweitern.


https://de.m.wikipedia.org/wiki/E-Mail-Adresse

> Eine Erweiterung ermöglicht internationalisierte Adressen, indem diese in UTF-8 kodiert werden. Dies ermöglicht die Nutzung von nicht ASCII-Zeichen wie auch Umlauten. Diese Erweiterung wird in den RFC-Dokumenten RFC 6530, RFC 6531, RFC 6532, und RFC 6533 beschrieben.

Ich gehe davon aus dass sich das in Contao 4 geändert hat. 

Contao 3.5.x/4.4.x benutzt `swiftmailer/swiftmailer` in `5.x`, ab Contao 4.9 kann auch `6.x` verwendet werden, wo das gefixt ist. Siehe auch https://github.com/contao/core/issues/8740#issuecomment-315074866